.expenses {
  padding: 1rem;
  background-color: #1f1f1f;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
.expenses-title {
  display: flex;
  justify-content: center;
  color: white;
  margin: 1em;
  font-size: 2rem;
  font-weight: 600;
}
